* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  padding-top: 44px;

}

.container {
  max-width: 1200px;
  margin: auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.input {
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  border-radius: 2px;
  font-size: 16px;
  line-height: 24px;
  padding: 8px;
  padding-left: 35px;
  background-repeat: no-repeat;
  background-position: left 11px center; 
}

.input-address {
  flex-grow: 0.8;
  background-image: url(../img/home.svg);
}

.input-search {
  width: 300px;
  background-image: url(../img/search.svg);
}
.buttons {
  display: flex;
  align-items: center;
}

.button {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  box-sizing: border-box;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.0015);
  border-radius: 2px;
  color: #595959;
  font-size: 16px;
  line-height: 24px;
  margin-right: 10px;
}

.button-primary {
  background: #1890FF;
  border-radius: 2px;
  color: #FFFFFF
}

.button-icon {
  margin-right: 6px;
}

.main {
  background: linear-gradient(180deg, rgba(245, 245, 245, 0) 1.04%, #F5F5F5 100%);
}

.promo {
  box-shadow: 0px 7px 12px rgba(158, 158, 163, 0.1);
  background: #FFF1B8 url(../img/promo-img.jpeg) no-repeat top -100px right -247px/ 924px;
  border-radius: 10px;
  padding: 68px 70px;
  margin-bottom: 56px;
}

.promo h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 39px;
  line-height: 46px;
  color: #302C34;
}
.promo p {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #302C34; 
  max-width: 538px;
}

.section-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 44px;
}

.section-title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
}

.cards {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cart {
  background: #ffffff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
  border-radius: 7px;
  overflow: hidden;
  margin-bottom: 30px;
  text-decoration: none;
}

.cart-img {
  width: 384px;
  height: 250px;
  object-fit: cover;
}

.cart-text {
  padding-top: 20px;
  padding-bottom: 35px;
  padding-left: 23px;
  padding-right: 23px;
}

.cart-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-title {
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
}

.food-ingred {
  width: 230px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #8C8C8C;
}

.food-title {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
}

.food-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0px;
}

.food-price {
  margin-right: auto;
  margin-left: 32px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;
  color: #000000;

}

.cart-tag {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: #ffffff;
  background: #262626;
  border-radius: 2px;
  padding: 1px 8px;
}

.cart-info {
  display: flex;
  align-items: center;
  
}

.rating {
  margin-right: 26px;
  color: #FFC107; 
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
}

.price, .category {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: #8C8C8C;
}

.price {
  margin-right: 10px;
}

.price:after {
  content: '';
  width: 5px;
  height: 5px;
  background-color: #8C8C8C;
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  margin-left: 10px;
}

.footer {
  padding: 60px 0;
}

.footer-link {
  display: inline-block;
  color: #595959;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}

.footer-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-nav {
  margin-left: 35px;
  margin-right: auto;
}

.footer-link:not(:last-child) {
  margin-right: 15px;
}

.social-links {
  display: flex;
  align-items: center;
}

.social-link:not(:last-child) {
  margin-right: 21px;
}
.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4)
}
.is-open {
  display: flex;
}
.modal-dialog {
  max-width: 780px;
  width: 95%;
  background: #FFFFFF;
  border-radius: 5px;
  margin: auto;
  padding: 40px 45px;
}
.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 45px;
}
.modal-title {
  margin: 0;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
}
.close {
  font-size: 36px;
  border: none;
  background-color: transparent;
}
.modal-body {
  margin-bottom: 52px;
}
.food-row { 
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 8px;
  border-bottom: 1px solid #D9D9D9;
  margin-bottom: 15px;
}
.food-counter {
  display: flex;
  align-items: center;
}
.food-price-cart {
  margin-left: auto;
  margin-right: 47px;
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;  
}
.food-name {
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
}
.counter-button {
  background: #FFFFFF;
  border: 1px solid #40A9FF;
  box-sizing: border-box;
  border-radius: 2px;
  width: 39px;
  height: 32px;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #40A9FF;
}
.counter {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin-left: 10px;
  margin-right: 10px;
}
.modal-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.footer-buttons {
  display: flex;
  align-items: center;
}
.modal-pricetag {
  background: #262626;
  border-radius: 5px;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #FAFAFA;
  padding: 15px 20px;
}

/* Медиа запросы */

@media (max-width: 1366px) {
  .container {
    max-width: 960px;
  }
  
  .promo {
    background-position: center top right -300px;
    background-size: 750px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }

  .promo {
    padding: 50px;
    background-size: 500px;
    background-position: 400px -150px;
  }

  .promo-text {
    max-width: 18px;
    max-width: 400px;
  }

  .cart {
    flex-basis: 45%;
  }

  .footer-link {
    font-size: 16px;
  }

  .social-links {
    margin-right: 1%;
  }
}

@media (max-width: 768px) {
    .container {
      width: 560px;
    }

    .cart-info {
      flex-wrap: wrap;
    }

    .cart .rating {
      flex-basis: 100%;
    }

    .cart-title {
      font-size: 18px;
    }

    .promo {
      background-size: 370px;
      background-position: bottom 150px right -200px;
    }

    .promo-title {
      font-size: 24px;
      line-height: 1.4;
    }

    .promo-text {
      margin-top: 0px;
    }
}


@media (max-width: 578px) {
  .container {
    width: 90%;
  }

  .header {
    flex-wrap: wrap;
  }

  .input-address {
    margin-top: 15px;
    order: 5;
    flex-grow: 1;
  }

  .promo {
    background-size: 300px;
    background-position: 350px -90px;
  }

  .promo-title {
    margin-bottom: 10px;
  }

  .section-title {
    font-size: 20px;
  }

  .cart {
    flex-basis: 100%;
  }

  .cart-img {
    width: 100%;
  }

  .footer-nav {
    margin-left: 0;
    margin-right: 0;
    order: 0;
    display: flex;
    flex-direction: column;
  }
  
  .footer-logo {
    margin-right: 15px;
    order: 1;
  }

  .social-links {
    order: 2;
  }

  .footer {
    padding: 30px 0;
  }

  .footer-block {
    align-items: flex-start;
  }
}

@media (max-width: 480px) {

  .promo {
    padding: 25px;
    margin-bottom: 20px;
  }

  .promo h1 {
    font-size: 25px;
    font-weight: 350;
    line-height: 1;
  }

  .promo p {
    font-size: 17px;
    font-weight: 300;
  }

  .footer-block {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }

  .footer-logo {
    order: 0;
    margin-bottom: 20px;
  }

  .footer-nav {
    margin-bottom: 20px;
    text-align: center;
  }

  .footer-link:not(:last-child) {
    margin-right: 0;
  }

  .section-heading {
    flex-wrap: wrap;
  }

  .section-title {
    margin-right: auto;
    margin-left: auto;
  }


}





